{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "extends": [
    "airbnb-base",
    "standard"
  ],
  "env": {
    "browser": true
  },
  "plugins": [
    "import",
    "meteor"
  ],
  "rules": {}
}